<div class="jumbotron">
  <div class="container text-center">
    <h1>SMART PARKING <fa name="car" size="lg"></fa></h1>
    <p>Nuestro equipo de trabajo: </p>
    <p>
      Santiago Umaña Villada: <a href="">santi950312@gmail.com</a>
    </p>
    <p>
      Lady Marcela Suarez: <a href="">leidymix05@hotmail.com</a>
    </p>
    <p>
      Alejandro G&oacute;mez: <a href="">alejogom5@hotmail.com</a>
    </p>
    <p>
      Samuel Graciano: <a href="">gracianito2005@gmail.com</a>
    </p>
  </div>
</div>

