<main role="main" class="container">
  <div class="starter-template">
    <h1>Smart Parking Project</h1>
    <p class="lead">Nuestro proyecto fue basado en la idea de un parqueadero inteligente el cual proveera a los usuarios un lugar seguro, confiable e innovador en el cual guardar sus vehiculos, con smart parking puede estar pendiente de su vehiculo desde cualquier disposiivo, ademas la mayoria de sus procesos automatizados los cuales garantizan confianza y buenos servicios.</p>
  </div>
</main>